<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <style>
    body {
      margin: 5%;
      font-family: 'Quicksand', sans-serif;
    }

    .active {
      background: salmon;
      border: 0;
      padding: 5px;
    }
  </style>
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
</head>

<body>
  <div id="app">

    <!-- Component bisa digunakan berulang, simple nya seperti custom html tag buatan sendiri -->
    <header-component nama="Vue js" gambar="image/vue_logo.png"></header-component>
    <!-- <header-component nama="JavaScript" gambar="image/red_haired_pirate_logo.png"></header-component> -->

    <nav>
      <!-- use router-link component for navigation. -->
      <!-- specify the link by passing the `to` prop. -->
      <!-- `<router-link>` will be rendered as an `<a>` tag by default -->
      <router-link to="/">Home</router-link>
      <router-link to="/about">About</router-link>
      <router-link to="/kelas">Kelas</router-link>
    </nav>

    <main>
      <!-- <kelas v-bind:kelasprop="kelas" v-on:submitkelas="submitkelas" v-on:hapuskelas="hapuskelas"></kelas>
      <home></home> -->
      <!-- route outlet -->
      <!-- component matched by the route will render here -->
      <router-view v-bind:kelasprop="kelas" v-on:submitkelas="submitkelas" v-on:hapuskelas="hapuskelas"></router-view>
    </main>
    <footer-component>
      <p>copyright 2021 - kelas Aldi Majid</p>
    </footer-component>

    


  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <!-- untuk vue router di single page (<router-link> and <router-view>) -->
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <!-- untuk generate uuid -->
  <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
  <!-- <script src="../vue_file/vue.js"></script>
  <script src="../vue_file/vue-router.js"></script> -->

  <script>
    const Home = {
      template: '<div>Home</div>'
    }

    const About = {
      template: '<div>About</div>'
    }

    const NotFound = {
      template: '<div>Halaman Tidak Ditemukan</div>'
    }

    const Kelas = {
      props: ["kelasprop"],
      template: `
          <div>
            <h3>Tambah Kelas.</h3>
            <!-- pakai .prevent supaya default "action" dari <form> tidak terpanggil -->
            <form v-on:submit.prevent="submitkelas">
                <p><input type="text" placeholder="Nama Kelas" v-model="kelas.judul"></p>
        
                <div class="input-group">
                    <label>Deskripsi: </label> <br>
                    <textarea v-model="kelas.deskripsi"></textarea>
                </div>
            
                <div class="input-group">
                    <img :src="previewimg" v-if="previewimg" width="200"/><p/>
                    <label>Masukkan Gambar</label><br>

                    <!-- property ref untuk reset judul gambar di <img> -->
                    <input type="file" ref="gambar" v-on:change="upload"/>
                </div>
                <button type="submit">Submit</button>
            </form>


            <hr>
            <!-- Dengan tag template, kita bisa render beberapa item dengan v-if, seperti container pada flutter -->
            
            <h3>Daftar Kelas ({{kelasprop.length}})</h3>
            <template v-if="kelasprop.length > 0">
              <ul>
                <!-- Disini bisa di ganti dengan keyword "of" -->
                <!-- Disini kita bisa mengakses index pada v-for -->
                <li v-for="(item, index) of kelasprop">
                  <img :src="'image/' + item.gambar" width="200">
                  <p>
                    {{ index + 1 }} - {{ item.judul }}
                    <a href="" v-on:click.prevent="$emit('hapuskelas', item.id)">hapus</a>
                  </p>
                </li>
              </ul>
            </template>
          </div>
        `,
        data: function(){
            return {
                kelas: {
                    judul: '',
                    deskripsi: '',
                    gambar: '',
                },
                previewimg: '',
            }
        },
        methods:{
            submitkelas: function(){
                console.log(this.kelas)
                const data = {
                    id: uuidv4(),
                    judul: this.kelas.judul,
                    deskripsi: this.kelas.deskripsi,
                    gambar: this.kelas.gambar,
                }
                // Setiap kali method "submitkelas" ini terpanggil, maka event 'submitkelas'
                // akan ter emit dengan membawa data di parameter ke 2, kelas yang me-listen
                // event ini akan melakukan sesuatu sesuai dengan yang sudah di definisikan di
                // kelas (komponen) yang me-listen tersebut.
                this.$emit('submitkelas', data)
                this.kelas.judul = ""
                this.kelas.deskripsi = ""
                this.kelas.gambar = ""
                this.previewimg = ""
                // untuk reset judul gambar di <img>
                this.$refs.gambar.value = ""
            },
            upload: function(event) {
              const name = event.target.files[0].name
              this.kelas.gambar = name
              this.previewimg = URL.createObjectURL(event.target.files[0])
            }
        }
    }
    //   Mendaftarkan component harus sebelum deklarasi instance Vue nya
    Vue.component('header-component', {
      props: ["nama", "gambar"],
      template: `
            <header>
                <img :src="gambar" width="100">
                <h1 v-text="nama"></h1>
                <h1>{{"Hello, " + nama}}</h1>
                
                
                <!-- <img v-bind:src="logoSaatIni" width="500"> -->
                <p>The Progressive
                    JavaScript Framework
                </p>
                <p v-text="pesan">
                </p>
            
            </header>
          `,
      data: function () {
        return {
          pesan: 'Hello Component!'
        }
      }
    })

    Vue.component('footer-component', {
      template: `
            <footer id="footer">
              <slot></slot>
            </footer>
          `
    })

    

    // 2. Define some routes
    // Each route should map to a component. The "component" can
    // either be an actual component constructor created via
    // `Vue.extend()`, or just a component options object.
    // We'll talk about nested routes later.
    const routes = [
      { path: '/', component: Home },
      { path: '/about', component: About },
      { path: '/kelas', component: Kelas },
      { path: '*', component: NotFound }
    ]

    // 3. Create the router instance and pass the `routes` option
    // You can pass in additional options here, but let's
    // keep it simple for now.
    // To access this, start a server in localhost in a port, and access index.html from there
    const router = new VueRouter({
      mode: 'history',
      routes // short for `routes: routes`
    })
    const member = {
      // string, number, boolean, array, object
    //   kelas: ["Golang", "PHP"],
      kelas: [
        { id: 1, judul: 'Vuejs', deskripsi: 'The Prjlknkja', gambar: 'vue_logo.png' },
        { id: 2, judul: 'Reactjs', deskripsi: 'A Prjlknkja', gambar: 'beast_pirate_logo.jpeg' },
      ]
    }
    const vm = new Vue({
      el: '#app',
      router,
      components: {
        'home': Home,
        'kelas': Kelas,
      },
      data: member,
      methods: {
        hapuskelas: function (id) {
            this.kelas = this.kelas.filter(item => item.id != id)
        },
        submitkelas: function (data) {
        //   console.log(data)
        //   const text = event.target.value
        //   this.kelas.unshift(text)
        this.kelas.push(data)
        }
      },
      computed: {
      }
    })
  </script>
</body>

</html>