<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <style>
    body {
      margin: 5%;
      font-family: 'Quicksand', sans-serif;
    }

    .active {
      background: salmon;
      border: 0;
      padding: 5px;
    }
  </style>
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
</head>

<body>
  <div id="app">

    <!-- Component bisa digunakan berulang, simple nya seperti custom html tag buatan sendiri -->
    <header-component nama="Vue js" gambar="image/vue_logo.png"></header-component>
    <header-component nama="JavaScript" gambar="image/red_haired_pirate_logo.png"></header-component>


    <main>
      <kelas v-bind:kelasProp="kelas" :kelasBaruProp="kelasBaru"/>
    </main>
    <footer-component></footer-component>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script>
    //   Mendaftarkan component harus sebelum deklarasi instance Vue nya
    Vue.component('header-component', {
      props: ["nama","gambar"],
      template: `
            <header>
                <img :src="gambar" width="100">
                <h1 v-text="nama"></h1>
                <h1>{{"Hello, " + nama}}</h1>
                
                
                <!-- <img v-bind:src="logoSaatIni" width="500"> -->
                <p>The Progressive
                    JavaScript Framework
                </p>
                <p v-text="pesan">
                </p>
            
            </header>
          `,
      data: function () {
        return {
          pesan: 'Hello Component!'
        }
      }
    })

    Vue.component('footer-component', {
      template: `
            <footer id="footer">
                <p>copyright 2021 - kelas Aldi Majid</p>
            </footer>
          `
    })

    Vue.component('kelas', {
      props: ["kelasProp, kelasBaruProp"],
      template: `
          <div>
            <h3>Tambah Kelas.</h3>
            <p><input type="text" placeholder="Nama Kelas" v-on:keyup.enter="submit" v-model="kelasBaruProp"></p>
            <hr>
            <!-- Dengan tag template, kita bisa render beberapa item dengan v-if, seperti container pada flutter -->
            
            <h3>Daftar Kelas ({{kelasProp.length}})</h3>
            <template v-if="kelasProp.length > 0">
              <ul>
                <!-- Disini bisa di ganti dengan keyword "of" -->
                <!-- Disini kita bisa mengakses index pada v-for -->
                <li v-for="(item, index) of kelasProp">{{ index + 1 }} - {{ item }}</li>
              </ul>
            </template>
          </div>
        `,
      data: function () {
        return {
          
        }
      },
      methods:{
        submit: function () {
          console.log(this.kelasBaru)
          this.kelas.push(this.kelasBaru) // untuk memasukkan data dari index terakhir array
          // this.kelas.unshift(text) // untuk memasukkan data dari index pertama array
          // event.target.value = ""
          this.kelasBaru = ""
        }
      }
    })
    const member = {
      // string, number, boolean, array, object
      kelas: ["Golang", "PHP"],
      kelasBaru: "",
    }
    const vm = new Vue({
      el: '#app',
      data: member,
      methods: {
        
      },
      computed: {
      }
    })
  </script>
</body>

</html>